/* OVERLAPPING PROPERTIES */

.hidden {
    visibility: hidden;
}

.outer {
    display: flex;
    height: 100vh;
}

.form p img {
    display: block;
    margin: auto;
    height: 40px;
    width: 80px;
    object-fit: contain;
    position: relative;
    bottom: 20px;
}

.form {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid lightgray;
    width: 350px;
    height: 400px;
    border-radius: 8px;
    padding: 40px;
    justify-content: space-around;
}

.form h1 {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    position: relative;
    bottom: 40px;
}

.form h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    bottom: 60px;
}

.labelinput label {
    margin-top: 20px;
    position: relative;
    top: 55px;
    margin-left: 30px;
    padding: 2px;
    background-color:white;
    font-size: 16px;
    font-weight: 500;
    color: #989898;
    opacity: 1;
    z-index: -1;
}

.labelinput input {
    height: 32px;
    border-radius: 3px;
    border: 2px solid rgb(232, 232, 232);
    padding: 6px 14px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    width: 80%;
}

.labelinput > input:focus {
    outline: none;
    border: 2px solid #4386fc;
}

.labelinput:focus-within label { 
    opacity: 1;
    font-size: 12px;
    position: relative;
    top: 32px;
    z-index: 10;
    color: #4386fc;
    -webkit-transition: font-size .3s, top .3s;
    transition: font-size .3s, top .3s;
}

.labelinput input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form a {
    text-decoration: none;
    color: #4386fc;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    bottom: 6px;
}

.formfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form button {
    background: #4386fc;
    color: white; 
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}

.form button:hover {
    background: #498bfe;
    box-shadow: 1px 1px #4386fc;
    cursor: pointer;
}


/* PASSWORD PAGE SPECIFIC PROPERTIES */

.currentemail {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    bottom: 60px;
    padding: 2px 15px;
    border-radius: 25px;
    border: 1px solid black;
    width: max-content;
    align-self: center;
}

#signin .formfooter {
    display: flex;
    justify-content: flex-end;
}

#signin .labelinput, 
#checkemail .labelinput {
    position: relative;
    bottom: 100px;
}

/* CREATE USER SPECIFIC PROPERTIES */

#signup p img {
    padding-left: 3px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.names {
    display: flex;
    justify-content: space-between;
}

.names input {
    margin-top: 0px;
}

#signup {
    display: flex;
    align-items: start;
}

#signup h1 {
    margin-top: 10px;
    font-size: 22px;
}

#signup .labelinput label {
    font-size: 14px;
    position: relative;
    top: 0px;
    right: 17px;
}

#signup .labelinput:focus-within label { 
    top: -18px;
    font-size: 12px;
}

#signup .labelinput input {
    height: 24px;
    font-size: 14px;
}

.names .labelinput input {
    width: 72%;
    position: relative;
    bottom: 30px;
    right: 20px;
}

#input3, #input4 {
    width: 90%;
    position: relative;
    bottom: 30px;
    margin: 0px 0px;
}

#label3 label,
#label4 label {
    bottom: 20px;
}

#input2 {
    margin-left: 36px;
}

#label2 {
    margin-left: 48px;
}




/* TESTING */

/* .labelinput input:not(:placeholder-shown) {
    outline: none;
    border: 2px solid gray;
    font-size: 12px;

} */

/* .labelinput input:not(:focus) ~ label {
    opacity: 1;
    color: blue;
    font-size: 12px;
    top: 2px;
    z-index: 15;

} */

