.logo {
    color: rgb(97, 97, 97);
    font-size: 28px;
    font-weight: 400;
    padding: 10px 15px 10px 35px;
    z-index: 2;
}

#long-center {
    background-image: image-url('austin-skyline-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-nav-bar {
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}