.logo {
    color: rgb(97, 97, 97);
    font-size: 28px;
    font-weight: 400;
    padding: 10px 15px 10px 35px;
    z-index: 2;
}

#long-center {
    background-image: image-url('austin-skyline-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-nav-bar {
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userid {
    display: flex;
    align-items: center;
}

.userid button {
    height: 20px;
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    background-color: gray;
    border: none;
}

.follows {
    padding: 30px 40px 50px 30px;
    border: 1px solid lightgray;
    background: rgb(235, 235, 235);
    display: flex;
    align-items: center;
}

.smallicons {
    position: relative;
    top: 3px;
    object-fit: contain;
    height: 40px;
    width: 40px;
}

#git {
    height: 60px;
    width: 60px;
}

.view-or-edit {
    position: absolute;
    top: 73px;
    right: 32px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(82, 82, 82);
    display: flex;

}

.view-or-edit img {
    object-fit: contain;
    height: 35px;
    position: relative;
    bottom: 8px;
}

