#logo {
    color: rgb(114, 114, 114);
    font-size: 32px;
    font-weight: 400;
    padding: 5px 15px 5px 25px;
    z-index: 2;
}

#long-center {
    background-image: url(austin-skyline-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#splash-nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}