.ql-font.ql-picker, .ql-font.ql-picker.ql-expanded,
.ql-picker-label, .ql-font.ql-picker.ql-expanded .ql-picker-label {
  margin-right: 15px;
}
.ql-snow .ql-picker.ql-font {
  width: 150px;
}

.ql-font-arial, .ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}

.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.ql-font-calibri,
.ql-font span[data-value="calibri"]::before {
  font-family: Calibri, sans-serif;
}

.ql-font-cambria,
.ql-font span[data-value="cambria"]::before {
  font-family: Cambria, serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New", sans-serif;
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.ql-font-roboto,
.ql-font span[data-value="roboto"]::before {
  font-family: Roboto, sans-serif;
}
.ql-font-times-new-roman,
.ql-font span[data-value="times-new-roman"]::before {
  font-family: 'Times New Roman', Times, serif;
}
.ql-font-trebuchet,
.ql-font span[data-value="trebuchet"]::before {
  font-family: 'Trebuchet MS', sans-serif;
}
.ql-font-verdana,
.ql-font span[data-value="verdana"]::before {
  font-family: Verdana, sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
  content: 'Title';
  font-weight: 600;
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}



.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
{
  content: 'Arial';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='calibri']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='calibri']::before
{
  content: 'Calibri';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cambria']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cambria']::before
{
  content: 'Cambria';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='comic-sans']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='comic-sans']::before
{
  content: 'Comic Sans';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='courier-new']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='courier-new']::before
{
  content: 'Courier New';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='georgia']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='georgia']::before
{
  content: 'Georgia';
}.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='helvetica']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='helvetica']::before
{
  content: 'Helvetica';
}.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='lucida']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='lucida']::before
{
  content: 'Lucida';
}.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='roboto']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='roboto']::before
{
  content: 'Roboto';
}.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='trebuchet']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='trebuchet']::before
{
  content: 'Trebuchet';
}.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='verdana']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='verdana']::before
{
  content: 'Verdana';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before
{
  content: 'Times New Roman';
}

svg:hover, polygon:hover {
  color: none;
}