a.share-link {
    font-size: 14px;
    color: rgb(96, 96, 96);
    position: relative;
    bottom: 13px;
    left: 2px;
    cursor: pointer;
}

.share-perm-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(228, 227, 227, 0.5);
    padding: 20px 30px 15px;
    margin-bottom: 30px;
}

.share-permissions-all {
    background-color: white;
    height: 600px;
    width: 450px;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.share-perm-label {
    font-size: 26px;
}

.sub-perm-label {
    font-size: 14px;
    weight: 400;
}

.perm-input-row {
    width: 100%
}

.perm-button {
    height: 33px;
    width: 80px;
    font-size: 13px;
    margin-top: 8px;
}

.perm-input {
    font-size: 14px;
}

.user-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(234, 234, 234);
    padding: 15px 7px;
}

.left-info {
    display: flex;
    align-items: center;

}

.existing-permissions {
    overflow: scroll;
}

.user-name {
    font-weight: 400;
}

.user-email {
    font-size: 13px;
    color: rgb(121, 121, 121);
}

.share-right {
    display: flex;
    align-items: center;
}

.delete-perm {
    font-weight: 600;
    color: rgb(121, 121, 121);
    padding-left: 20px;
    cursor: pointer;
}

.perm-options {
    display: none;
    position: relative;
    top: 0px;
    /* height: 60px; */
    width: 100px;
    text-align: right;
    border: 1px solid rgb(213,213,213);
    right: 40px;
    bottom: 40px;
    padding: 3px 5px 3px 0px;
    background: white;
    z-index: 3; 
}

.perm-options div {
    display: flex;
    justify-content: space-around;
}

.ok-button {
    height: 35px !important;
}

.top-half-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.existing-permissions {
    height: 300px;
}