#long-center {
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#splashbox {
    height: 330px;
    width: 430px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(104, 103, 103);
    font-weight: 300;
    border-radius: 20px;
    align-items: center;
    background: rgba(255, 253, 253, .9);
    justify-content: center;
    margin: 0 0 0 0;
}

#splash-personal {
    font-size: 34px;
    font-weight: 100;
    margin: 0px 0px ;
}

#splash-description {
    padding: 10px 70px;
    font-weight: 300;
    margin-bottom: 20px;
}

#splashbox button {
    width: 200px;
    background: #4386fc;
    padding: 15px 0 15px 0px;
    font-size: 17px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#splashbox button a {
    text-emphasis: none;
    text-decoration-line: none;
    color: white;
    font-weight: 400;
}

#doc-logo {
  width: 70px;
  height: 90px;
  object-fit: cover;
  margin: 0px 0px;

}

#splashbox p {
  margin: 0px 0px;
}

/* typewriter stuff */

.typewriter {
  position: relative;
  bottom: 40px;
  text-shadow: 1px 1px rgb(104, 104, 104);
  width: 660px;
  color: white;
  font-weight: 100;
  font-size: 44px;
  z-index: 50;
}

.typewriter p {
  overflow: hidden;
  border-right: .10em solid rgb(254, 234, 125);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation: 
    typing 4s steps(28, end),
    blink-caret .75s step-end infinite;


}
/* .typewriter #lillian {
  height: 50px;
  width: 50px;
  background-color: blue;
  display: block;
  position: relative;
  bottom: 50px;
  margin-inline-end: 100%

} */

@keyframes typing {
  from { width: 3% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  0% { border-color: rgb(254, 234, 125); }
}